{% set pageTitle="Personal data" %}


{% extends "employee/homeEmployee.html" %}


{% block head %}
    {{parent()}}
    <link rel="stylesheet" type="text/css" href="/css/employee/personalData.css">
{% endblock %}

{% block content %}
{{parent()}}

    <div class="box">
        <form>
            <p>ID:</p>
            <input type="text" value="{{user.ID}}" readonly>
            <p>First name:</p>
            <input type="text" value="{{user.FirstName}}" readonly>
            <p>Last name:</p>
            <input type="text" value="{{user.LastName}}" readonly>
            <p>Username:</p>
            <input type="text" value="{{user.Username}}" readonly>
            <p>Email:</p>
            <input type="text" value="{{user.Email}}" readonly>
            <p>Hashed password:</p>
            <input type="text" value="{{user.Password}}" readonly>
            <p>Function:</p>
            <input type="text" value="{{user.Function}}" readonly>
        </form>
    </div>

{% endblock %}