{% extends "administrator/home.html" %}

{% block content %}

    <div class="registerBox">
        <h1>ADD NEW ACCOUNT!</h1>
        <form action="/administrator/register" method="post">
            <p>FIRST NAME:</p>
            <input type="text" name="firstName" placeholder="First name" required>
            <p>LAST NAME:</p>
            <input type="text" name="lastName" placeholder="Last name" required>
            <p>EMAIL:</p>
            <input type="text" name="email" placeholder="Email" required>
            <p>USERNAME:</p>
            <input type="text" name="userName" placeholder="Username" required>
            <p>PASSWORD:</p>
            <input type="password" name="password" placeholder="Password" minlength="6" required>
            <p>FUNCTION:</p>
            <select name="function">
                <option value="employee">Employee</option>
                <option value="administrator">Administrator</option>
            </select>
            <br><br><br>
            <input type="submit" name="" value="ADD">
        </form>
    </div>

<style>
    .registerBox{
        width: 400px;
        height: 600px;
        background: lightseagreen;
        color: black;
        top:50%;
        left:17%;
        position:absolute;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        padding: 30px 30px;
    }

    h1{
        margin: 0;
        padding: 0 0 15px;
        text-align: center;
        font-size: 25px;
        color: black;
    }

    .registerBox p{
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-family: "Comic Sans MS";
        color: black;
        font-weight: bold;
    }

    .registerBox input{
        width: 100%;
        margin-bottom: 20px;
    }

    .registerBox input[type="text"], input[type="password"]{
        border:black;
        border-bottom: 1px solid #fff;
        background: white;
        outline: none;
        height: 38px;
        color: black;
        font-weight: bold;
        font-size: 30px;
        font-family: "Times New Roman";
    }

    .registerBox input[type="submit"]{
        border: none;
        outline: black;
        height: 40px;
        background: white;
        color: black;
        font-size: 18px;
    //width: 400px;
    }

    .registerBox input[type="submit"]:hover{
        cursor:pointer;
        background: black;
        color: white;
    }

    .registerBox select{
        color: black;
        font-weight: bold;
        font-size: 30px;
        font-family: "Times New Roman";
    }
</style>

{% endblock %}