{% set pageTitle="Add" %}


{% extends "administrator/homeAdmin.html" %}


{% block head %}
    {{parent()}}
    <link rel="stylesheet" type="text/css" href="/css/administrator//addUser.css">
{% endblock %}


{% block content %}
    {{parent()}}

    <div class="registerBox">
        <form action="/administrator/register" method="post">
            <p>FIRST NAME:</p>
            <input type="text" name="firstName" placeholder="First name" required>
            <p>LAST NAME:</p>
            <input type="text" name="lastName" placeholder="Last name" required>
            <p>EMAIL:</p>
            <input type="text" name="email" placeholder="Email" required>
            <p>USERNAME:</p>
            <input type="text" name="userName" placeholder="Username" required>
            <p>PASSWORD:</p>
            <input type="password" name="password" placeholder="Password" minlength="6" required>
            <p>FUNCTION:</p>
            <select name="function">
                <option value="employee">Employee</option>
                <option value="administrator">Administrator</option>
            </select>
            <br><br><br>
            <input type="submit" name="" value="ADD">
        </form>
    </div>

{% endblock %}



