{% set pageTitle="Remove" %}


{% extends "administrator/homeAdmin.html" %}


{% block head %}
    {{parent()}}
    <link rel="stylesheet" type="text/css" href="/css/administrator/deleteUser.css" >
{% endblock %}

{% block content %}

    {{parent()}}
    <br>
    <div class="users">
        <table class="table table-striped">
            <tr>
                <th class="cell">  ID  </th>
                <th class="cell">  First name  </th>
                <th class="cell">  Last name  </th>
                <th class="cell">  Username  </th>
                <th class="cell">  Email  </th>
                <th class="cell">  Function  </th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{user.ID}}</td>
                <td>{{user.FirstName}}</td>
                <td>{{user.LastName}}</td>
                <td>{{user.Username}}</td>
                <td>{{user.Email}}</td>
                <td>{{user.Function}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br><br>

    <div class="box">
        <p>INSERT SEARCH CRITERION:</p>
        <form action="/administrator/remove" method="post">
            <select name="criterion">
                <option value="ID">ID</option>
                <option value="Email">Email</option>
            </select>
            <br><br>
            <input type="text" name="field" required>
            <br><br>
            <input type="submit" name="" value="DELETE">
        </form>
    </div>


{% endblock %}

