{% set pageTitle="Administrator" %}


{% extends "layout.html" %}


{% block head %}
    {{parent()}}
    <link rel="stylesheet" href="css/administrator.css">
{% endblock %}


{% block content %}

    <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a class="nav-link btn btn-light" href="/administrator">HOME</a>
                </li>
                <li>
                    <a class="nav-link btn btn-light" href="/administrator/addAccount">ADD ACCOUNT</a>
                </li>
                <li>
                    <a class="nav-link btn btn-light" href="/administrator/deleteAccount">DELETE ACCOUNT</a>
                </li>
                <li>
                    <a class="nav-link btn btn-light" href="/administrator/logout">LOG OUT</a>
                </li>
            </ul>
        </div>
    </nav>



{% endblock %}