.registerBox{
    width: 400px;
    height: 615px;
    background: cadetblue;
    color: black;
    top:55%;
    left:17%;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 10px 25px;
}
h1{
    margin: 0;
    padding: 0 0 15px;
    text-align: center;
    font-size: 25px;
    color: black;
}

.registerBox p{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: "Comic Sans MS";
    color: black;
    font-weight: bold;
}
.registerBox input{
    width: 100%;
    margin-bottom: 20px;
}
.registerBox input[type="text"], input[type="password"]{
    border:none;
    border-bottom: 1px solid #fff;
    background: white;
    outline: none;
    height: 38px;
    color: black;
    font-weight: bold;
    font-size: 25px;
    font-family: "Times New Roman";
}

.registerBox input[type="submit"]{
    border: none;
    outline: black;
    height: 40px;
    background: black;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.registerBox input[type="submit"]:hover{
    cursor:pointer;
    background: white;
    color: black;
}
.registerBox select{
    color: black;
    font-weight: bold;
    font-size: 25px;
    font-family: "Times New Roman";
    width: 100%;
}