<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADMINISTRATOR | SIEMENS</title>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css" >
    <link href="/adminPage.css" type="text/css" rel="stylesheet">
</head>
<body>

    <!--<p1>Hello {{admin}}!</p1>-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/administrator/logout">LOG OUT</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="registerBox">
        <h1>ADD A NEW ACCOUNT!</h1>
        <form action="/administrator/registerUser" method="post">
            <p>FIRST NAME:</p>
            <input type="text" name="firstName" placeholder="First name" required>
            <p>LAST NAME:</p>
            <input type="text" name="lastName" placeholder="Last name" required>
            <p>EMAIL:</p>
            <input type="text" name="email" placeholder="Email" required>
            <p>USERNAME:</p>
            <input type="text" name="userName" placeholder="Username" required>
            <p>PASSWORD:</p>
            <input type="password" name="password" placeholder="Password" minlength="6" required>
            <p>FUNCTION:</p>
            <select name="function">
                <option value="employee">Employee</option>
                <option value="administrator">Administrator</option>
            </select>
            <br><br><br>
            <input type="submit" name="" value="ADD">
        </form>
    </div>

</body>
</html>

<style>

</style>