{% set pageTitle="HOME | SIEMENS" %}

{% extends "layout.html" %}

{% block head %}
    {{parent()}}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css" >
    <link rel="stylesheet" href="css/home.css">
{% endblock %}

{% block content %}

    <div class="loginBox">
        <h1>WELCOME BACK!</h1>
        <form action="/login" method="post">
            <br>
            <p>EMAIL:</p>
            <input type="text" name="email" placeholder="Enter email" required>
            <br><br>
            <p>PASSWORD:</p>
            <input type="password" name="password" placeholder="Enter password" minlength="6" required>
            <br><br>
            <input type="submit" name="" value="Login">
        </form>

    </div>

{% endblock %}