<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME | SIEMENS</title>
    <link href="css/home.css" type="text/css" rel="stylesheet">
</head>
<body>

    <div class="loginBox">
        <h1>WELCOME BACK!</h1>
        <form action="/login" method="post">
            <br>
            <p>EMAIL:</p>
            <input type="text" name="email" placeholder="Enter email" required>
            <br><br>
            <p>PASSWORD:</p>
            <input type="password" name="password" placeholder="Enter password" minlength="6" required>
            <br><br>
            <input type="submit" name="" value="Login">
        </form>

    </div>

</body>
</html>
